.secool-input {
    position: relative;
    z-index: 2;
}

.secool-input .secool-wave {
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    opacity: 0;
    border: 1px solid #3385ff;
    animation: secool-animation 4s infinite
}

.secool-input.secool-name-baidu .secool-wave {
    border: 1px solid #3385ff;
}

.secool-input.secool-name-sogou .secool-wave {
    border: 1px solid #fd6853;
}

.secool-input.secool-name-so .secool-wave {
    border: 1px solid #19b955;
}

.sw_box .secool-input.secool-name-bing .secool-wave {
    border: 1px solid #FFF;
}

.secool-input.secool-name-bing .secool-wave {
    border: 1px solid #666;
}

.secool-input.secool-name-google .secool-wave {
    border: 1px solid #4286F3;
}

.secool-input .secool-wave:nth-of-type(2) {
    animation-delay: .4s;
}

.secool-input .secool-wave:nth-of-type(3) {
    animation-delay: .8s;
}

@keyframes secool-animation {
    from {
        opacity: 0.9;
        top: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.3, 2.2);
    }
}